.ip-information-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: white;
    border-radius: 0.313rem;
    z-index: 2;
    position: absolute;
}

.ip-information-section {
    border-left: 1px solid black;
    /* Adjust color and width as needed */
    padding-inline: 20px
}

/* Styles for desktop */
@media (min-width: 800px) {
    .ip-information-container {
        width: 68.75rem;
        padding: 2rem;
        top: 8.125rem;
    }
}

/* Styles for mobile */
@media (max-width: 800px) {
    .ip-information-container {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 3;
        transform: translateY(100%);
    }
}